---
import siteConfig from "@/site.config";
---

<section class="masthead flex flex-col  pt-12 place-content-center items-center align-middle mx-auto">
  <div class="flex flex-row items-center">
    <!-- avatar -->
     <!--  -->
    <!-- Brand Name -->
    <h1 class="mh-brand mb-0 font-light tracking-tighter">
      {siteConfig.title}<span class="text-primary font-normal">.</span>
    </h1>
  </div>
  <div class="h-px w-12 bg-border my-4" />
  <p class="text-center text-muted-foreground italic tracking-wide max-w-md">
    {siteConfig.description}
  </p>
  
</section>

<style>
  .mh-brand {
    font-size: clamp(2.8rem, 2.5rem + 1.85vw, 4.5rem);
  }
</style>